@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Kanit", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
}

header img {
    width: 150px;
}

.header-top {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 100%;
}

nav {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

nav h1 {
    font-size: 1.5em;
    margin: 0;
}

nav a {
    color: white;
    text-decoration: none;
    position: relative;
    padding: 5px 10px;
}

nav a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

nav a:hover::after {
    visibility: visible;
    transform: scaleX(1);
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
    transition: transform 0.3s ease;
}

.hamburger.open div:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.hamburger.open div:nth-child(2) {
    opacity: 0;
}

.hamburger.open div:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

.nav-links.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30px; 
    right: 0; 
    background-color: darkgrey;
    width: 200px;
    border-radius: 8px;
    padding: 10px 0;
    z-index: 1000; 
}


@media (max-width: 768px) {
    .hamburger {
        display: flex;
        order: 1; 
        padding-right: 10px;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px; 
        right: 0; 
        background-color: darkgrey;
        width: 200px;
        border-radius: 8px;
        padding: 10px 0;
        z-index: 1000; 
    }

    .nav-links.active {
        display: flex;
    }
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 20px;
}

.card h2 {
    margin-top: 0;
    text-align: center;
}

.card img {
    max-width: 100%;
    width: 300px;
    height: auto;
    border-radius: 4px;
    display: block;
    margin: 0 auto 10px;
}

.card2 {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 20px;
    grid-column: span 2;
    text-align: center;
}

.card2 a {
    color: white;
    background-color: black;
    padding: 10px 20px;
    display: inline-block; 
    text-decoration: none; 
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
}

.card2 a:hover {
    background-color: #333; 
}

.card2 ul {
    color: white;
    padding: 10px 20px; 
    display: inline-block; 
    text-decoration: none; 
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
}

.card p {
    font-size: small;
    text-align: center;

}
.resources {
    list-style-type: none;
    padding: 0;
}

.resources li {
    margin: 5px 0;
}

.resources a {
    color: #007BFF;
    text-decoration: none;
}

.resources a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}

.filter-buttons {
    margin-bottom: 20px;
    text-align: center;
}

.filter-buttons button {
    padding: 10px 20px;
    margin: 5px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.filter-buttons button:hover {
    background-color: #555;
}

#total-credits {
    font-weight: bold;
    font-size: larger;
}

nav a.active {
    background-color: gray;
    color: white;
    border-radius: 5px;
}